.overlay {
  background-color: #1e2939 !important;
}

.react-confirm-alert-body {
  font-weight: bold;
  color: #fff !important;
  text-align: center !important;
  background-color: #1e2939 !important;
  border: 1px outset #0c0;
}

.react-confirm-alert-button-group {
  display: block !important;
  text-align: center !important;
}

.react-confirm-alert-button-group button {
  background-color: #1e2939 !important;
  border: 1px inset #0c0 !important;
}
